/* Global */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif, Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition: .3s ease opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity;
}

.logo-img{
    margin-right: 16px;
}

.logo-text{
    color: #222;
    font-size: 24px;
    line-height: 32.5px;
    font-weight: 600;
    transition: .3s ease color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: color;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-text:hover{
    color: #DE2E54;
}

.logo-text:active{
    opacity: 0.6;
}

.navbar-list{
    display: flex;
}

.navbar-list-item:not(:last-child) {
    margin-right: 32px;
}

ul li{
    list-style: none;
}

.navbar-list-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    transition: .3s ease color, .3s ease opacity;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    transition-property: color, opacity;
}

.navbar-list-link:hover{
    color: #DE2E54;
}

.navbar-list-link:active{
    opacity: 0.6;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-weight: 700;
    font-size: 15px;
    line-height: 22.5px;
    padding: 12px 24px;
    border-radius: 8px;
    transition: .3s ease color, .3s ease background-color, .3s ease opacity;
}

.btn:hover{
    background-color: #fff;
    color: #DE2E54;
}

.btn:active{
    opacity: 0.6;
}

.hero{
    color: #fff;
    background-color: #0EB4C1;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; 
    padding-right: 20px;
}

.hero-content{
    margin-top: 100px;
    width: 500px;
}

.hero-title{
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 16px;
}

.hero-description{
    font-size: 16px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 36px;
}

.hero-img{
    margin-top: 30px;
}

.features{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
}

.features-title{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 56px;
}

.features-list{
    width: 864px;
    margin-bottom: 60px;
}

ul{
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.feature-item:not(:last-child) {
    margin-bottom: 80px;
}

.feature-item{
    display: flex;
}

.feature-item-img {
    border-radius: 24px;
    margin-right: 64px;
}

img {
    border-style: none;
}

.feature-item-title{
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222;
}

.feature-item-description {
    color: #444;
    margin-top: 0;
    margin-bottom: 0;
}

.features-btn{
    display: flex;
    justify-content: center;
}

.registration{
    color: #fff;
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
}

.registration-title{
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 40px;
}

.first{
    margin-right: 40px;
}

.registration-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif, Arial;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
    padding: 12px 24px;
    border: 2px solid #fff;
    border-radius: 8px;
    transition: .3s ease border, .3s ease background-color, .3s ease opacity;
}

.registration-btn:hover{
    background-color: #DE2E54;
    border-color: transparent
}

.registration-btn:active{
    opacity: 0.6;
}

/* footer */
.footer{
    background-color: #222;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: .3s ease color, .3s ease opacity;
}

.footer-logo-img{
    margin-right: 16px;
}

.footer-logo-text{
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    line-height: 32.5px;
    margin-top: 0;
    margin-bottom: 0;
    transition: .3s ease color;
}

.footer-logo-text:hover{
    color: #DE2E54;
}

.footer-logo-text:active{
    opacity: 0.6;
}

.footer-navbar-list{
    display: flex;
    align-items: center;
}

ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-navbar-item:not(:last-child) {
    margin-right: 32px;
}

.footer-navbar-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    transition: .3s ease color, .3s ease opacity;
}

.footer-navbar-link:hover{
    color: #DE2E54;
}

.footer-navbar-link:active{
    opacity: 0.6;
}